*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
.idea/.name
CodeIgniter-3.1.0.zip
Documentation/
system
application/config/
composer.json
composer.lock
contributing.md
license.txt
readme.rst
user_guide/
index.php
.htaccess
.idea
